body {
  min-width:320px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  font-family:'Roboto', 'Arial', sans-serif;
  color: #000;
  font-style: normal;
}
.page-header{
  background: url("../img/bg.png") 32% 55%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.page-header__wrapper{
  display:flex;
  flex-direction:column;
  //background-color:#414146;
  height: 55px;
}

.site-list{
  display:flex;
  flex-direction:column;
  list-style:none;
  margin: 0;
  padding:0;
}
.site-list li{
  position: relative;
}

.site-list__item a{
  display:block;
  padding:12px 40px 12px 12px;
  font-size:14px;
  line-height:22px;
  text-decoration:none;
  color:#3a2020;
  background-color:#fff;
  text-transform:uppercase;
}

.site-list__item:hover > ul{
  display: block;
}

.site-list__item:hover span::after{
  border-color: red;
  transform: rotate(135deg);
  transition: .5s;
}
.site-list__item > ul{
  display: none;
}
.main-nav__toggle{
  position: absolute;
  top: 15px;
  left: 0;
  width:30px;
  height:30px;
  border:none;
  outline:none;
  background:none;
  cursor: pointer;
}
.main-nav__toggle .toggle{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 1px;
  background-color: #202945;
  border-top: 1px solid #b5b8c1;
  border-bottom: 1px solid #b5b8c1;
  transition:.5s;
}

.main-nav__toggle .toggle::before,
.main-nav__toggle .toggle::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #202945;
  transition:.5s;
  border-top: 1px solid #b5b8c1;
}
.main-nav__toggle .toggle::after{
  border-top: none;
  border-bottom: 1px solid #b5b8c1;
}
.main-nav__toggle .toggle::after{
  top: 10px;
}

.main-nav--opened .main-nav__toggle .toggle{
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.main-nav--opened .main-nav__toggle .toggle::before,
.main-nav--opened .main-nav__toggle .toggle::after {
  top: 50%;
  transform: translateY(-50%);
}
.main-nav--opened .main-nav__toggle .toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle .toggle::after {
  transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle .toggle:active::before,
.main-nav--opened .main-nav__toggle .toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.main-nav--closed .main-nav__list{
  display:none;
}
.main-nav__list span{
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  transition: .5s;
}
.main-nav__list span:hover{
  background-color: black;
  border-radius: 10px;
  transition: .5s;
}

.main-nav__list span::after{
  content: '';
  width: 6px;
  height: 6px;
  border-bottom: 1px solid #a5a5a7;
  border-left: 1px solid #a5a5a7;
  position: absolute;
  right: 6px;
  top: 45%;
  transition: .5s;
  transform: translateY(-50%) rotate(-45deg);
}

.main-nav--opened .main-nav__list{
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  z-index: 100;
  box-shadow: 0 4px 10px rgba(0,0,0,.2);
}
.main-nav--opened .main-nav__list > li:nth-child(2){
  position: absolute;
  top: -40px;
  width: 100%;
  background-color: transparent;
}
.main-nav--opened .main-nav__list > li:nth-child(2) > a{
  background-color: transparent;
}

.main-nav--opened .site-list__logo{
  position: absolute;
  top: -90px;
  left: 50%;
  transform: translateX(-50%);
}
.site-list__logo img{
  width: 70%;
}
.main-nav__list ul a{
  padding-left: 30px;
  color: #8da5ba;
}

.main-nav--nojs .main-nav__list{
  display:block;
}

.user-block--mobile .site-list__item.basket{
  display: block;
}
.site-list__item.basket a{
  background-color: transparent;
  padding-right: 0;
}
.user-block--mobile{
  position: absolute;
  right: 15px;
  top: 15px;
  display: flex;
}
.user-block--mobile input,
.user-block input{
 opacity: 0;
  width: 50px;
}
.user-block--mobile label,
.user-block label{
  background: url("../img/sprite.png") no-repeat -12px -11px;
  position: absolute;
  width: 26px;
  height: 26px;
}
.user-block--mobile .basket{
  background: url("../img/sprite.png") no-repeat -8px -194px;
  width: 26px;
  height: 26px;
  position: relative;
}
.user-block--mobile .basket > span{
  display: none;
}
.user-block--mobile .basket > span:first-child{
  display: block;
  position: absolute;
  height: 16px;
  width: 16px;
  right: 0;
  top: 0;
  background-color: #f6f6f6;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  color: #717274;
  line-height: 18px;
}
.user-block .search,
.user-block .phone,
.site-list__item.basket{
  display: none;
}
.user-block{
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px 0 20px;
}
.user-block .myCabinet{
  position: relative;
  padding-left: 40px;
  font-size: 13px;
  line-height: 22px;
  color: #717274;
  text-transform: none;
}
.user-block .myCabinet::before{
  content: '';
  width: 26px;
  height: 26px;
  position: absolute;
  left: 10px;
  background: url("../img/sprite.png") -8px -161px;
}
.user-block .language,
.user-block .phone{
  position: relative;
  padding-left: 5px;
  padding-right: 10px;
  font-size: 12px;
  line-height: 22px;
  color: #717274;
  width: 70px;
  text-align: center;
}
.user-block .language::before{
  content: '';
  position: absolute;
  left: 10px;
  width: 16px;
  height: 18px;
  background: url("../img/sprite.png") no-repeat -7px -235px;
}
.user-block .language::after,
.user-block .phone::after{
  content: '';
  width: 6px;
  height: 6px;
  border-bottom: 1px solid #a5a5a7;
  border-left: 1px solid #a5a5a7;
  position: absolute;
  right: 20px;
  top: 45%;
  transition: .5s;
  transform: translateY(-50%) rotate(-45deg);
}
.user-block .language:hover::after,
.user-block .phone:hover::after{
  transform: rotate(135deg);
  border-color: red;
}

/*tablet screen*/
@media (min-width:768px){

  /*header style start*/
  .page-header__wrapper{
    width:768px;
    margin:0 auto;
    flex-direction:row;
    flex-wrap:wrap;
    position: relative;
  }

  .main-nav--closed .site-list__logo{
    left: 0;
    top: 20px;
    position: absolute;
  }

  .site-list{
    flex-direction: row;
  }

  .site-list .user-block{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    padding: 0;
    background-color: transparent;
  }

  .site-list__item a{
    background-color: transparent;
    padding:18px;
    font-size: 12px;
  }
  .site-list__item span{
    right: -2px;
    top: 20px;
  }

  .main-nav__toggle{
    display:none;
  }

  .main-nav .main-nav__list{
    display:flex;
    flex-direction: row;
    border:none;
    margin-top: 10px;
    width: 650px;
    justify-content: space-between;
  }
  .main-nav--closed{
    margin-left: auto;
    padding-top: 40px;
  }
  .site-list__item.basket{
    display: block;
    width: 95px;
    height: 35px;
    background-color: #f6f6f6;
    margin-top: 10px;
    padding-top: 5px;
    position: relative;
  }
  .site-list__item.basket::before{
    content: '';
    background: url("../img/sprite.png") no-repeat -8px -194px;
    width: 26px;
    height: 26px;
    position: absolute;
    left: 10px;
  }
  .site-list__item.basket a{
    padding-top: 5px;
  }
  .site-list__item.basket a > b:first-child{
    padding-left: 25px;
    padding-right: 5px;
  }
  .site-list__item.basket b{
    text-transform: none;
    font-size: 12px;
    color: #717274;
    font-weight: normal;
  }
  .user-block--mobile{
    display: none;
  }
  .user-block .phone{
    display: block;
    width: 150px;
    font-size: 12px;
    line-height: 22px;
    color: #717274;
    text-decoration: underline dashed;
  }
  .user-block .search{
    display: block;
    position: relative;
  }
  .user-block .search label{
    top: 15px;
    right: 0;
  }
  /*header style end*/
}

/*desktop screen*/
@media (min-width:1140px){
  /*header style start*/
  .page-header__wrapper{
    max-width: 1140px;
    width: 1140px;
    margin:0 auto;
  }
  .main-nav .main-nav__list{
    width: 750px;
  }
  .site-list__logo img{
    width: 100%;
  }
  /*header style end*/
}
