@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro.otf');
}
@font-face {
  font-family: 'DINPro-bold';
  src: url('../fonts/DINPro-bold.ttf');
}
@font-face {
  font-family: 'Segoe UI semilight';
  src: url('../fonts/Segoe UI semilight.ttf');
}
@font-face {
  font-family: 'ProximaNovaT-Thin';
  src: url('../fonts/ProximaNovaT-Thin.woff');
}
body {
  font-family: DINPro, Arial, sans-serif;
  min-width:320px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  color: #000;
  font-style: normal;
  background: url("../img/bg.png") no-repeat -430px -300px;
}
@media (min-width: 768px) {
  body{
    background-position: -200px -250px;
  }
}
@import "nav.css";
@import "slider.css";
@import "products.css";
@import "contact.css";
@import "footer.css";